<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util
        https://www.springframework.org/schema/util/spring-util.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        https://www.springframework.org/schema/aop/spring-aop.xsd
       ">

    <!-- bean definitions here -->
    <!--配置QueryRunner-->
    <bean id="queryRunner" class="org.apache.commons.dbutils.QueryRunner" scope="prototype"/>
    <!-- 配置数据源 -->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <!--连接数据库的必备信息-->
        <property name="driverClass" value="com.mysql.jdbc.Driver"></property>
        <property name="jdbcUrl" value="jdbc:mysql://localhost:3306/spring_aop"></property>
        <property name="user" value="root"></property>
        <property name="password" value="root"></property>
    </bean>

    <context:component-scan base-package="dao"/>
    <context:component-scan base-package="services"/>
    <context:component-scan base-package="utils"/>
    <context:component-scan base-package="transaction"/>

    <!--    &lt;!&ndash;配置代理的service&ndash;&gt;-->
    <!--    <bean id="transactionProxyAccountService" factory-bean="transactionProxyUtils" factory-method="getAccountService"/>-->

<!--    &lt;!&ndash; aop相关的节点配置 &ndash;&gt;-->
<!--    <aop:config>-->
<!--        &lt;!&ndash; 切入点  标记哪些类的哪些方法在执行的时候会应用Spring配置的通知进行增强 &ndash;&gt;-->
<!--        <aop:pointcut expression="execution(* services..*.*(..))" id="transactionPointcut"/>-->
<!--        &lt;!&ndash; 配置切面类的节点  作用主要就是整合通知和切入点 &ndash;&gt;-->
<!--        <aop:aspect ref="transactionManager">-->
<!--            <aop:before method="beginTransaction" pointcut-ref="transactionPointcut"/>-->
<!--            <aop:after-returning method="commit" pointcut-ref="transactionPointcut"/>-->
<!--            <aop:after method="release" pointcut-ref="transactionPointcut"/>-->
<!--            <aop:after-throwing method="rollback" pointcut-ref="transactionPointcut"/>-->
<!--        </aop:aspect>-->
<!--    </aop:config>-->

    <!-- 注解  开启代理模式 -->
    <aop:aspectj-autoproxy></aop:aspectj-autoproxy>
</beans>